.about-us {
  min-height: 840px;
  width: 100%;
  background-color: @background-header;
}

.about-us__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  color: @about-us__color;
  margin: 0;
  padding-left: 30px;
  padding-top: 29px;
  box-sizing: border-box;
}

.about-us__block {
  min-height: 700px;
}

.about-us__list {
  list-style: none;
  margin: 0;
  padding-left: 30px;
  width: 260px;
  box-sizing: border-box;
}

.about-us__text {
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  color: @about-us__color;
  position: relative;
  margin-top: 80px;
}

.about-us__text--materials {
  margin-bottom: 0;
  margin-top: 87px;
  width: 180px;

  &::before {
    content: " ";
    position: absolute;
    display: block;
    background-image: url("../img/icon-feature-flower.svg");
    width: 32px;
    height: 37px;
    background-repeat: no-repeat;
    top: -55px;
    left: 7px;
  }
}

.about-us__text--style {
  margin-top: 83px;
  width: 200px;

  &::before {
    content: " ";
    position: absolute;
    display: block;
    background-image: url("../img/icon-feature-money.svg");
    width: 47px;
    height: 27px;
    background-repeat: no-repeat;
    top: -55px;
    left: 0;
  }
}

.about-us__text--like {
  margin-top: 83px;
  width: 178px;

  &::before {
    content: " ";
    position: absolute;
    display: block;
    background: url("../img/icon-feature-heart.svg");
    width: 34px;
    height: 28px;
    background-repeat: no-repeat;
    top: -49px;
    left: 8px;
  }
}

.about-us__text--love {
  margin-top: 83px;
  width: 200px;

  &::before {
    content: " ";
    position: absolute;
    display: block;
    background: url("../img/icon-feature-ball.svg");
    width: 34px;
    height: 37px;
    background-repeat: no-repeat;
    top: -51px;
    left: 3px;
  }
}

.about-us__text--manufacturer {
  margin-top: 83px;
  width: 245px;

  &::before {
    content: " ";
    position: absolute;
    display: block;
    background: url("../img/icon-feature-rocket.svg");
    width: 355px;
    height: 37px;
    background-repeat: no-repeat;
    top: -51px;
    left: -6px;
  }
}

.about-us__text--gift {
  margin-top: 83px;
  width: 220px;
  margin-bottom: 0;

  &::before {
    content: " ";
    position: absolute;
    display: block;
    background: url("../img/icon-feature-gift.svg");
    width: 355px;
    height: 37px;
    background-repeat: no-repeat;
    top: -54px;
    left: 3px;
  }
}

.about-us__wrapper {
  width: @mobail-width;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: @tablet-width) {
  .about-us {
    min-height: 520px;
  }

  .about-us__title {
    font-size: 43px;
    line-height: 50px;
    padding-top: 24px;
    padding-left: 43px;
  }

  .about-us__block {
    min-height: 520px;
  }

  .about-us__wrapper {
    width: 768px;
    min-height: 520px;
  }

  .about-us__list {
    width: 768px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 500px;
    padding-left: 49px;
    box-sizing: border-box;
  }

  .about-us__item {
    height: 140px;
  }

  .about-us__text {
    font-size: 20px;
    line-height: 22px;
    min-height: 68px;
    width: 202px;
    margin-top: 103px;
  }

  .about-us__text--style {
    margin-top: 118px;
    width: 238px;
  }

  .about-us__text--like {
    margin-top: 132px;
  }

  .about-us__text--love {
    margin-right: 48px;
    margin-top: 102px;
    width: 244px;
  }

  .about-us__text--manufacturer {
    margin-top: 119px;
    width: 290px;
  }

  .about-us__text--gift {
    margin-top: 133px;
    width: 235px;
  }
}

@media (min-width: @desktop-width) {
  .about-us {
    min-height: 608px;
  }

  .about-us__wrapper {
    width: @desktop-width;
    min-height: 600px;
  }

  .about-us__title {
    font-size: 53px;
    line-height: 57px;
    padding-left: 225px;
    padding-top: 28px;
  }

  .about-us__block {
    margin-left: 178px;
  }

  .about-us__text {
    margin-right: 130px;
  }

  .about-us__text--materials,
  .about-us__text--style,
  .about-us__text--like {
    margin-right: 110px;
  }
}
