.contacts {
  min-height: 860px;
  width: 100%;
  background-color: @background-header;
}

.contacts__title {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  color: @about-us__color;
  margin: 0;
  margin-top: 25px;
  margin-left: 30px;
  margin-bottom: 24px;
}

.contacts__table {
  margin-left: 30px;
  margin-bottom: 32px;
}

.contacts__item {
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: @reviews__btn;
}

.contacts__list {
  display: flex;
}

.contacts__mail {
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: @reviews__btn;
  border-bottom: 1px solid @catalog__block--interior;
  margin-left: 24px;

  &:hover {
    color: @catalog__block--interior;
  }

  &:active {
    opacity: 0.3;
  }
}

.contacts__list--email {
  margin-bottom: 28px;
}

.contacts__item--street {
  display: block;
  width: 175px;
}

.contacts__item--address {
  margin-right: 26px;
}

.contacts__wrapper {
  width: @mobail-width;
  margin-right: auto;
  margin-left: auto;
}

.contacts__map {
  background-image: url("../img/map-mobile@1x.jpg");
  width: 320px;
  height: 457px;
  background-repeat: no-repeat;
}

.contacts__iframe {
  border: 0;
}

.contacts__button {
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  text-align: center;
  color: @reviews__btn;
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid @best-product__description;
  width: 260px;
  height: 53px;
  display: block;
  margin-left: 30px;
  margin-top: 34px;
  padding-top: 14px;
  box-sizing: border-box;

  &:hover {
    background-color: @best-product__description;
    color: @background-body;
  }

  &:active {
    color: @best-product__btn__color;
  }
}

@media (min-width: @tablet-width) {
  .contacts {
    min-height: 925px;
  }

  .contacts__wrapper {
    width: 768px;
    display: flex;
    flex-direction: column;
  }

  .contacts__block {
    display: flex;
    margin-top: 22px;
    margin-left: 19px;
  }

  .contacts__title {
    font-size: 43px;
    line-height: 50px;
    margin-top: 60px;
    margin-left: 48px;
    position: relative;

    &::before {
      content: " ";
      position: absolute;
      display: block;
      width: 47px;
      height: 81px;
      background-image: url("../img/icon-flag.svg");
      background-repeat: no-repeat;
      right: 54px;
      top: -16px;
    }
  }

  .contacts__item,
  .contacts__mail {
    font-size: 17px;
    line-height: 30px;
  }

  .contacts__mail {
    margin-left: 25px;
    margin-right: 60px;
  }

  .contacts__table {
    margin-bottom: 51px;
  }

  .contacts__item--address {
    margin-right: 24px;
  }

  .contacts__item--street {
    width: 225px;
  }

  .contacts__map {
    width: 768px;
    height: 457px;
  }

  .contacts__iframe {
    width: 768px;
    height: 457px;
  }

  .contacts__button {
    margin-left: 268px;
    margin-top: 51px;
    width: 231px;
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    min-height: 636px;
  }

  .contacts__wrapper {
    width: @desktop-width;
    flex-direction: column;
    position: relative;
    min-height: 630px;
  }

  .contacts__title {
    font-size: 53px;
    line-height: 57px;
    margin-top: 145px;
    margin-left: 221px;

    &::before {
      left: -108px;
      top: -9px;
    }
  }

  .contacts__block {
    flex-direction: column;
  }

  .contacts__table {
    margin-left: 202px;
    width: 365px;
  }

  .contacts__map {
    position: absolute;
    right: 52px;
    top: 76px;
    width: 525px;
    height: 458px;
  }

  .contacts__iframe {
    width: 525px;
    height: 458px;
  }

  .contacts__button {
    margin-left: 224px;
    margin-top: 25px;
  }
}
