.form {
  min-height: 1495px;
  width: 100%;
  background-color: @background-body;
  display: flex;
  flex-direction: column;
}

.form__block {
  border: 0;
  margin: 0;
  padding: 0;
  width: 260px;
}

.form__list {
  list-style: none;
  margin: 0;
  width: 260px;
  display: flex;
  flex-direction: column;
}

.form__legend {
  font-size: 17px;
  line-height: 17px;
  font-weight: bold;
  color: @form__legend;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  padding-right: 29px;
  padding-top: 7px;
  padding-left: 29px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    display: block;
    height: 1px;
    width: 200px;
    background-color: #63d1bb;
    left: 79px;
    top: 14px;
  }
}

.form__label {
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  color: @form__label;
  position: relative;
}

.form__legend-radio {
  padding-left: 30px;
}

.form__item--radio {
  padding-left: 54px;
  padding-right: 19px;
  padding-top: 31px;
}

.form__item--radio:nth-child(2) {
  padding-top: 26px;
}

.form__list--radio {
  min-height: 150px;
}

.form__input--radio {
  display: none;
}

.form__wrapper__radio {
  padding-bottom: 0;
}

.form__input--radio + .form__label--radio::before {
  content: "";
  position: absolute;
  display: inline-block;
  border: 2px solid @form__label;
  border-radius: 50px;
  height: 36px;
  width: 36px;
  left: -64px;
  top: -9px;
  vertical-align: middle;
}

.form__input--radio + .form__label--radio:hover::before {
  border: 2px solid @form__legend;
}

.form__input--radio + .form__label--radio:active::before {
  border: 2px solid @form__label;
  opacity: 0.3;
}

.form__input--radio:checked + .form__label--radio::after {
  content: "";
  position: absolute;
  display: inline-block;
  border: 2px solid @form__legend;
  background-color: @form__legend;
  border-radius: 50px;
  height: 15px;
  width: 15px;
  left: -53px;
  top: 2px;
  vertical-align: middle;
}

.form__list--checkbox {
  min-height: 317px;
  padding-left: 39px;
}

.form__input--checkbox {
  display: none;
}

.form__legend--checkbox {
  padding-top: 5px;
  padding-left: 28px;

  &::before {
    content: "";
    position: absolute;
    display: block;
    height: 1px;
    width: 200px;
    background-color: #63d1bb;
    left: 91px;
    top: 13px;
  }
}

.form__input--checkbox + .form__label--checkbox::before {
  content: "";
  position: absolute;
  display: inline-block;
  border: 2px solid @form__label;
  height: 36px;
  width: 36px;
  text-align: center;
  vertical-align: middle;
  left: -62px;
  top: -12px;
}

.form__input--checkbox + .form__label--checkbox:hover::before {
  border: 2px solid @form__legend;
}

.form__input--checkbox + .form__label--checkbox:active::before {
  opacity: 0.3;
  border: 2px solid @form__label;
}

.form__input--checkbox:checked + .form__label--checkbox::after {
  content: "";
  position: absolute;
  display: inline-block;
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: 4px;
  height: 44px;
  width: 32px;
  left: -60px;
  top: -14px;
}

.form__wrapper__checkbox {
  min-height: 391px;
}

.form__item--checkbox {
  margin-bottom: 43px;
  margin-left: 52px;
}

.form__item--checkbox:nth-child(1) {
  margin-top: 36px;
}

.form__item--checkbox:nth-child(6) {
  margin-bottom: 25px;
}

.form__list--name {
  min-height: 280px;
  padding-left: 30px;
  padding-top: 5px;
}

.form__item--name {
  display: flex;
  flex-direction: column;
}

.form__label--name {
  margin-top: 25px;
}

.form__legend--name {
  padding-left: 31px;
}

.form__input--name {
  border: none;
  border-bottom: 2px solid @form__label;
  height: 46px;
  font-size: 17px;
  line-height: 18px;
  font-weight: 300;
  position: relative;

  &:hover {
    border-bottom: 2px solid @form__legend;
  }

  &:active {
    border-bottom: 2px solid @form__legend;
  }
}

.form__list--contacts {
  padding: 0;
  margin-left: 13px;
  margin-top: 29px;
}

.form__item--contacts {
  display: flex;
  flex-direction: column;
  position: relative;
}

.form__item--contacts:nth-child(2) {
  margin-top: 32px;
}

.form__input--name::placeholder {
  font-size: 17px;
  line-height: 18px;
  font-weight: 300;
}

.form__bloсk--contacts {
  border: none;
  margin: 0;
  padding-top: 0;
}

.form__label--contacts {
  text-transform: uppercase;
  color: @form__legend;
  width: 284px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    display: block;
    height: 1px;
    width: 200px;
    background-color: @form__legend;
    right: 0;
    top: 50%;
  }
}

.form__label--contacts:nth-child(1) {
  width: 266px;
}

.form__input--contacts {
  border: none;
  border-bottom: 2px solid @form__label;
  height: 54px;
  font-size: 17px;
  line-height: 18px;
  font-weight: 300;

  &:hover {
    border-bottom: 2px solid @form__legend;
  }

  &:active {
    border-bottom: 2px solid @form__legend;
  }
}

.form__svg {
  position: absolute;
  top: 33px;
  right: 3px;
  opacity: 0.3;

  &:hover {
    fill: @form__legend;
    opacity: 1;
  }

  &:active {
    fill: @form__legend;
    opacity: 1;
  }
}

.form__block--textarea {
  margin-top: 17px;
  margin-left: 29px;
}

.form__legend--textarea {
  padding-left: 0;
}

.form__textarea {
  border: 2px solid @form__label;
  width: 260px;
  height: 142px;
  box-sizing: border-box;
  margin-top: 20px;
  padding-right: 64px;
  padding-left: 15px;
  padding-top: 15px;
  font-size: 17px;
  line-height: 18px;
  font-weight: 300;

  &:hover {
    border: 2px solid @form__legend;
  }

  &:active {
    border: 2px solid @form__legend;
  }
}

.form__textarea::placeholder {
  font-size: 17px;
  line-height: 18px;
  font-weight: 300;
}

.form__text {
  margin-left: 30px;
  margin-top: 12px;
}

.form__span {
  font-size: 14px;
  line-height: 16px;
  font-weight: 300;
  color: @page-form__text;
}

.form__btn {
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  color: @best-product__description;
  text-transform: uppercase;
  border: 2px solid @best-product__description;
  width: 260px;
  height: 53px;
  display: inline-block;
  margin-top: 30px;
  background-color: transparent;

  &:hover {
    background-color: @best-product__description;
    color: @background-body;
  }

  &:active {
    color: @best-product__btn__color;
  }
}

.form__block__wrapper {
  list-style: none;
}

.form__wrapper {
  width: @mobail-width;
  margin-right: auto;
  margin-left: auto;
}

.form__wrapper__radio,
.form__wrapper__checkbox,
.form__wrapper__name,
.form__wrapper__textarea {
  border: none;
}

@media (min-width: @tablet-width) {
  .form__wrapper {
    width: 100%;
  }

  .form {
    min-height: 1408px;
  }

  .form__label {
    font-size: 19px;
    line-height: 21px;
  }

  .form__legend {
    &::before {
      display: none;
    }
  }

  .form__block {
    border: none;
  }

  .form__block--radio {
    width: 100%;
    border: none;
    min-height: 215px;
    margin-bottom: 7px;
  }

  .form__wrapper__radio {
    display: flex;
    width: 768px;
    margin-right: auto;
    margin-left: auto;
  }

  .form__legend-radio {
    padding-top: 61px;
    padding-left: 49px;
  }

  .form__list--radio {
    padding-left: 117px;
    margin-top: 59px;
    width: 350px;
  }

  .form__input--radio + .form__label--radio::before {
    height: 50px;
    width: 50px;
    left: -83px;
    top: -14px;
  }

  .form__item--radio {
    padding-left: 68px;
    padding-top: 0;
  }

  .form__item--radio:nth-child(2) {
    padding-top: 55px;
  }

  .form__input--radio:checked + .form__label--radio::after {
    height: 15px;
    width: 15px;
    left: -65px;
    top: 3px;
  }

  .form__wrapper__checkbox {
    display: flex;
    width: 768px;
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
  }

  .form__block--checkbox {
    width: 100%;
    height: 300px;
    background-color: @checkbox-tablet-background;
    box-sizing: border-box;
  }

  .form__list--checkbox {
    width: 668px;
    height: 300px;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 68px;
    margin-left: 19px;
    box-sizing: border-box;
    padding-left: 80px;
  }

  .form__block__wrapper {
    display: flex;
    list-style: none;
    height: 76px;
  }

  .form__legend--checkbox {
    margin-top: 69px;
    padding-left: 53px;
  }

  .form__item--checkbox {
    margin: 0;
    margin-right: 125px;
    margin-bottom: 10px;
  }

  .form__item--checkbox:nth-child(1) {
    margin-top: 0;
  }

  .form__item--checkbox:nth-child(6) {
    margin-right: 0;
  }

  .form__item--tiffany {
    margin-right: 80px;
  }

  .form__item--pink {
    margin-right: 106px;
    margin-bottom: 0;
  }

  .form__label--checkbox {
    margin-left: 71px;
  }

  .form__input--checkbox + .form__label--checkbox::before {
    width: 48px;
    height: 48px;
    left: -80px;
    top: -15px;
  }

  .form__input--checkbox:checked + .form__label--checkbox::after {
    height: 46px;
    width: 39px;
    left: -72px;
    top: -10px;
  }

  .form__block--name {
    width: 100%;
    min-height: 306px;
    display: flex;
  }

  .form__wrapper__name {
    display: flex;
    width: 684px;
    margin-right: auto;
    margin-left: auto;
  }

  .form__legend--name {
    padding-top: 71px;
    padding-left: 8px;
    padding-right: 99px;
  }

  .form__list--name {
    width: 100%;
  }

  .form__item--name {
    display: flex;
    flex-direction: row;
  }

  .form__label--name {
    margin-top: 65px;
  }

  .form__input--name {
    margin-top: 55px;
    margin-left: 29px;
    width: 100%;
  }

  .form__label--surname {
    margin-top: 40px;
  }

  .form__input--surname {
    margin-top: 26px;
  }

  .form__label--patronymic {
    margin-top: 40px;
  }

  .form__input--patronymic {
    margin-top: 26px;
  }

  .form__bloсk--contacts {
    min-height: 230px;
    width: 100%;
    background-color: @checkbox-tablet-background;
    padding-bottom: 7px;
    padding-top: 0;
    box-sizing: border-box;
  }

  .form__item--contacts {
    width: 690px;
    display: flex;
    flex-direction: row;
  }

  .form__item--contacts:nth-child(2) {
    margin-top: -2px;
  }

  .form__label--contacts {
    margin-top: 42px;
    margin-left: 19px;

    width: 247px;

    &::before {
      display: none;
    }
  }

  .form__list--contacts {
    padding: 0;
    margin-left: 30px;
    margin-top: 29px;
  }

  .form__label--contacts:nth-child(1) {
    width: 242px;
  }

  .form__wrapper__contacts {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    width: 768px;
  }

  .form__input--contacts {
    margin-top: 20px;
    width: 100%;
    background-color: @checkbox-tablet-background;
  }

  .form__svg--mail,
  .form__svg--phone {
    top: 38px;
    right: 22px;
  }

  .form__wrapper__textarea {
    display: flex;
    flex-direction: row;
    margin-right: auto;
    margin-left: auto;
    width: 768px;
  }

  .form__block--textarea {
    min-height: 189px;
    width: 100%;
  }

  .form__legend--textarea {
    padding-top: 54px;
    padding-left: 21px;
  }

  .form__textarea {
    width: 500px;
    height: 140px;
    margin-left: 99px;
    margin-top: 37px;
    padding-top: 11px;
  }

  .form__textarea::placeholder {
    font-size: 19px;
    line-height: 21px;
  }

  .form__text {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    width: 768px;
  }

  .form__btn {
    width: 231px;
    margin-left: 49px;
  }

  .form__span {
    font-size: 17px;
    line-height: 30px;
    margin-top: 40px;
    margin-left: 142px;
    order: 2;
  }
}

@media (min-width: @desktop-width) {
  .form {
    min-height: 1328px;
  }

  .form__wrapper {
    width: 100%;
  }

  .form__block--radio {
    margin-right: auto;
    margin-left: auto;
    width: @desktop-width;
  }

  .form__wrapper__radio {
    width: @desktop-width;
  }

  .form__legend-radio {
    padding-left: 114px;
    padding-right: 0;
  }

  .form__list--radio {
    padding-left: 93px;
  }

  .form__block--checkbox {
    width: 100%;
    height: 232px;
  }

  .form__wrapper__checkbox {
    width: @desktop-width;
    margin-right: auto;
    margin-left: auto;
    height: 232px;
  }

  .form__legend--checkbox {
    padding-left: 109px;
    padding-top: 0;
    padding-right: 0;
  }

  .form__list--checkbox {
    margin-left: 0;
    flex-direction: row;
    flex-wrap: wrap;
    width: 950px;
    align-content: flex-start;
  }

  .form__item--checkbox {
    margin-bottom: 0;
    margin-right: 125px;
    height: 75px;
  }

  .form__item--tiffany {
    margin-right: 128px;
  }

  .form__item--black {
    margin-right: 116px;
  }

  .form__item--pink {
    margin-right: 109px;
  }

  .form__item--grey {
    margin-right: 131px;
  }

  .form__block--name {
    width: @desktop-width;
    margin-right: auto;
    margin-left: auto;
  }

  .form__wrapper__name {
    width: @desktop-width;
    margin-right: auto;
    margin-left: auto;
  }

  .form__legend--name {
    padding-left: 113px;
    padding-top: 65px;
    padding-right: 44px;
  }

  .form__input--one {
    margin-top: 51px;
  }

  .form__list--name {
    width: 700px;
    padding-top: 0;
  }

  .form__wrapper__contacts {
    width: 1150px;
    margin-right: auto;
    margin-left: auto;
  }

  .form__label--contacts {
    margin-left: 81px;
    margin-top: 37px;
  }

  .form__label--contacts:nth-child(1) {
    width: 167px;
  }

  .form__input--contacts {
    margin-top: 17px;
  }

  .form__item--contacts {
    width: 100%;
  }

  .form__list--contacts {
    width: 898px;
    margin-top: 24px;
  }

  .form__bloсk--contacts {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
  }

  .form__svg--mail,
  .form__svg--phone {
    top: 33px;
    right: -7px;
  }

  .form__block--textarea {
    width: 1150px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 13px;
  }

  .form__legend--textarea {
    padding-left: 114px;
    padding-right: 0;
    padding-top: 50px;
  }

  .form__wrapper__textarea {
    width: @desktop-width;
  }

  .form__textarea {
    width: 698px;
    margin-left: 75px;
    margin-top: 32px;
  }

  .form__text {
    margin-right: auto;
    margin-left: auto;
    width: @desktop-width;
  }

  .form__btn {
    margin-left: 225px;
    margin-top: 21px;
  }

  .form__span {
    margin-left: 173px;
    margin-top: 32px;
  }
}
