.main-nav {
  display: flex;
  flex-direction: column;
  background-color: @background-header;
}

.main-nav__item {
  height: 79px;
  border-bottom: 1px solid #ececec;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__link {
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: @nav-text;
  padding-left: 75px;
  position: relative;

  &:hover {
    color: @nav-hover;
  }

  &:active {
    color: @nav-active;
  }
}

.main-nav__link--search,
.main-nav__link--basket {
  padding-left: 30px;
}

.main-nav__link svg {
  padding-right: 27px;
  padding-top: 5px;
  fill: #d3d2d2;
}

.main-nav__svg path:hover {
  fill: #63d1bb;
}

.main-nav__svg path:active {
  opacity: 0.3;
}
