.page-form__text {
  font-size: 13px;
  line-height: 24px;
  font-weight: 300;
  color: @page-form__text;
  margin: 0;
  background-color: @background-header;
  padding-left: 30px;
  box-sizing: border-box;
  min-height: 125px;
  padding-top: 23px;
  padding-right: 52px;
  margin-bottom: 10px;
}

.page-form__wrapper {
  width: @mobail-width;
  margin-right: auto;
  margin-left: auto;
}
