.page-footer {
  min-height: 160px;
  width: 100%;
  background-color: @page-footer__color;
  margin-right: auto;
  margin-left: auto;
}

.page-footer__social {
  width: 260px;
  height: 52px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  margin-left: 30px;
  padding-right: 61px;
  padding-left: 58px;
  border-bottom: 1px solid #e5e5e5;
}

.page-footer__block {
  width: 260px;
  height: 45px;
  display: flex;
  align-items: center;
  margin-left: 30px;
  margin-top: 16px;
  padding-left: 40px;
  box-sizing: border-box;
}

.page-footer__span {
  font-size: 19px;
  line-height: 20px;
  font-weight: bold;
  color: @nav-text;
  padding-right: 32px;

  &:active {
    opacity: 0.3;
  }
}

.page-footer__logo {
  display: block;
}

.page-footer__svg {
  width: 27px;
  height: 34px;
  fill: #63d1bb;

  &:hover  {
    fill: @catalog__block--toys;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-footer__img {
  width: 22px;
  height: 22px;

  &:hover {
    fill: #63d1bb;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-footer__wrapper {
  width: @mobail-width;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
}

.page-footer__logo__desktop {
  height: 26px;
}

.page-footer__logo__svg {
  display: none;
}

@media (min-width: @tablet-width) {
  .page-footer {
    min-height: 142px;
    width: 100%;
  }

  .page-footer__logo__svg {
    display: block;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .page-footer__wrapper {
    flex-direction: row;
    width: @tablet-width;
  }

  .page-footer__logo__desktop {
    margin-left: 48px;
    margin-top: 51px;
  }

  .page-footer__social {
    margin-left: 103px;
    margin-top: 62px;
    padding-right: 61px;
    border: none;
  }

  .page-footer__block {
    margin-left: 0;
    padding-left: 26px;
    margin-top: 52px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__wrapper {
    width: @desktop-width;
  }

  .page-footer {
    width: 100%;
  }

  .page-footer__logo__desktop {
    margin-top: 53px;
    margin-right: 191px;
  }

  .page-footer__social {
    margin-right: 191px;
  }

  .page-footer__block {
    margin-top: 48px;
  }
}
