.page-header {
  min-height: 395px;
  width: 100%;
  background-color: @background-header;
  display: flex;
  flex-direction: column;
 }

.page-header__list {
  height: 79px;
  display: flex;
  border-bottom: 1px solid #ececec;
  box-sizing: border-box;
}

.page-header__logo {
  margin-left: 116px;
  margin-top: 20px;
  display: block;
  width: 86px;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-header__togle {
  margin: 0;
  padding: 0;
  border: 0;
  width: 22px;
  height: 22px;
  margin-top: 29px;
  margin-left: 65px;
  background-color: @background-body;
}

.page-header__wrapper {
  width: @mobail-width;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: @tablet-width) {
  .page-header {
    min-height: 150px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .page-header__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: @tablet-width;
  }

  .page-header__list {
    width: 370px;

    height: 87px;
    border-right: 1px solid #ececec;
  }

  .page-header__togle {
    display: none;
  }

  .page-header__svg__logo {
    display: none;
  }

  .page-header__logo {
    background-image: url("../img/logo-tablet.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 120px;
    margin-left: 44px;
    margin-top: 5px;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    min-height: 87px;
    position: relative;

  }

  .page-header__wrapper {
    width: @desktop-width;
    position: relative;
  }

  .page-header__list {
    position: absolute;
    top: 0;
    left: 467px;
    width: 283px;
    z-index: 123;
  }

  .page-header__logo {
    background-image: url("../img/logo-desktop.svg");
    width: 130px;
  }
}
