.product-catalog {
  min-height: 176px;
  background-color: @product-catalog__color;
  width: 100%;
  padding-top: 72px;
  padding-left: 42px;
  box-sizing: border-box;
}

.product-catalog__title {
  font-size: 27px;
  line-height: 30px;
  font-weight: bold;
  color: @best-product__title;
  margin: 0;
}

.product-catalog__wrapper {
  width: @mobail-width;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: @tablet-width) {
  .product-catalog {
    min-height: 162px;
    padding-top: 35px;
    padding-left: 47px;
    position: relative;

    &::after {
      content: " ";
      position: absolute;
      display: block;
      width: 100%;
      height: 9px;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-repeat: no-repeat;
      background-size: cover;
      bottom: 0;
      left: 0;
    }
  }

  .product-catalog__title {
    font-size: 43px;
    line-height: 50px;
    margin-left: 153px;
  }

  .product-catalog__wrapper {
    width: 768px;
  }
}

@media (min-width: @desktop-width) {
  .product-catalog {
    min-height: 194px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;


    &::after {
      height: 36px;
      background-size: auto 36px;
      background-repeat: repeat-x;
    }
  }

  .product-catalog__wrapper {
    width: @desktop-width;
  }

  .product-catalog__title {
    font-size: 53px;
    line-height: 57px;
    margin-left: 324px;
  }
}
