.reviews {
  min-height: 640px;
  width: 100%;
  background-color: @background-header;
  margin-top: 8px;
  position: relative;

  &::after {
    content: " ";
    position: absolute;
    display: block;
    width: 100%;
    height: 6px;
    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 12px;
  }
}

.reviews__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  color: @about-us__color;
  padding-left: 30px;
  margin: 0;
  margin-bottom: 24px;
}

.reviews__text {
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: @best-product__description;
  margin-left: 30px;
  width: 255px;
  margin-bottom: 28px;
}

.reviews__list {
  list-style: none;
}

.reviews__block {
  padding-left: 30px;
  margin-bottom: 30px;
}

.reviews__name {
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: @about-us__color;
  display: block;
  margin-bottom: 2px;
}

.reviews__mail {
  font-size: 17px;
  line-height: 30px;
  font-weight: 300;
  color: @about-us__color;
}

.reviews__arrow {
  margin-left: 30px;
  display: flex;
}

.reviews__arrow__left,
.reviews__arrow__right {
  background-color: transparent;
  border: 1px solid #ececec;
  padding: 0;
  width: 130px;
  height: 50px;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.reviews__btn {
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  color: @reviews__btn;
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid @best-product__description;
  width: 260px;
  height: 53px;
  margin-left: 30px;
  margin-top: 38px;

  &:hover {
    background-color: @best-product__description;
    color: @background-body;
  }

  &:active {
    color: @best-product__btn__color;
  }
}

.reviews__wrapper {
  width: @mobail-width;
  margin-right: auto;
  margin-left: auto;
}
