.select-size {
  width: @mobail-width;
  min-height: 337px;
}

.select-size__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  color: @nav-text;
  text-transform: uppercase;
  padding-left: 85px;
  padding-right: 85px;
}

.select-size__legend {
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: @reviews__btn;
  padding-left: 75px;
}

.select-size__block {
  border: none;
  width: 260px;
}
